body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Sansation", sans-serif;
}

.bg-color-cstm {
  background-color: #ece5d5 !important;
}

.site-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  background-image: url("headerImage/header1.jpg");
  background-size: cover;
  background-position: center;
}

.site-title {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 3em;
  background-color: hsla(49, 100%, 90%, 0.425);
  width: 100%;
  margin: 0;
  padding: 20px 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.navigation-bar {
  display: flex;
  justify-content: center;
  width: 100%;
  background: #2c2d26;
  margin: 0;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  position: relative;
  top: -10px;
}

.nav-link {
  padding: 0 50px;
  color: #ece5d5;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #ef9930;
}

.para-txt {
  text-align: center;
  font-size: 24px;
  margin: 220px 220px;
  margin-top: 100px;
  margin-bottom: 180px;
}

.para-txt2 {
  text-align: center;
  font-size: 24px;
  margin-top: 100px;
  margin-left: 270px;
  margin-right: 270px;
}

.house-section {
  margin: 60px 60px;
  z-index: 1;
  margin-bottom: 200px;
}

.text-box {
  padding: 70px;
  background-color: #3a3635;
  border-radius: 16px;
  width: 100%;
  height: 70%;
  position: relative;
  left: -40px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.house-section2 {
  margin: 60px 60px;
  z-index: 1;
  margin-bottom: 200px;
}

.text-box2 {
  padding: 70px;
  background-color: #3a3635;
  border-radius: 16px;
  width: 100%;
  height: 70%;
  position: relative;
  right: -40px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.ctm-siz {
  width: 300px;
  filter: brightness(0) invert(1);
}

.footer-txt {
  font-size: 20px;
}
