/*---03rd April---*/

@import url("https://fonts.cdnfonts.com/css/lato");
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap");
@import url("https://fonts.cdnfonts.com/css/petit-formal-script"); /*font-family: 'Petit Formal Script', sans-serif;---for quotes*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body,
html {
  background-color: #ece5d5 !important;
  font-family: "Lato", sans-serif !important;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  animation: fadeIn 1.5s ease forwards;
}

h1 {
  font-size: 4em;
}

/*BACK TO TOP BUTTON*/

/*---------------------------------------------NAVIGATION BAR----------------------------*/

/*just for rembrandt page*/

/* Directly targeting the #intro element and using !important to override other styles if necessary */
#intro {
  height: 500px !important;
  /* background-image: url("assets/header/cloud.png") !important;*/

  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center center !important;
  width: 100% !important;
}

.custom-navbar,
.mask-custom {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.15);
}

.custom-navbar .navbar-nav .nav-item {
  margin-right: 20px; /* Adds space to the right of each nav item */
}

.custom-navbar .navbar-nav .nav-item:last-child {
  margin-right: 0; /* Ensures the last item doesn't have extra space on the right */
}

.custom-brand {
  font-size: 1.75rem;
  letter-spacing: 3px;
  color: #3a3635 !important;
  font-weight: bold;
}

.custom-navbar .nav-link,
.custom-navbar .navbar-toggler-icon {
  color: #ffffff; /* White color for navbar items */
  position: relative; /* Setup for underline effect */
}

.custom-navbar .dropdown-toggle::after {
  display: none; /* Hide default dropdown arrow */
}

/* Updated to include dropdown-toggle for the underline effect */
.custom-navbar .navbar-nav .nav-link::after,
.custom-navbar .navbar-nav .dropdown-toggle::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #3a3635; /* Underline color */
  bottom: -2px; /* Positioning the underline correctly */
  left: 50%;
  transition: width 0.3s ease, left 0.3s ease;
}

.custom-navbar .nav-link:hover::after,
.custom-navbar .nav-link:focus::after,
.custom-navbar .dropdown-toggle:hover::after,
.custom-navbar .dropdown-toggle:focus::after {
  width: 100%;
  left: 0;
}

.custom-navbar .nav-link:focus,
.custom-navbar .nav-link.active,
.custom-navbar .nav-link[aria-current="page"],
.custom-navbar .dropdown-toggle:focus,
.custom-navbar .dropdown-toggle.active,
.custom-navbar .dropdown-toggle[aria-current="page"] {
  outline: none;
  color: #3a3635; /* Focused or active link color */
  background-color: transparent; /* Clear background */
}

.navbar-scrolled {
  background-color: #cbbcb1; /* Scrolled navbar color */
}

.custom-navbar .dropdown-menu {
  margin-top: 11px; /* Aesthetic spacing */
  backdrop-filter: blur(5px); /* Cohesive styling with navbar */
  background-color: rgba(255, 255, 255, 0.15);
  border: none;
  border-radius: 0;
}

.custom-navbar .dropdown-item {
  color: #3a3635; /* Dropdown item text color */
}

.custom-navbar .dropdown-item:hover {
  background-color: rgba(
    255,
    255,
    255,
    0.25
  ); /* Dropdown item hover background */
}

/* Ensures navbar items align to the right */
.navbar-nav {
  margin-left: auto;
}

/* Ensure dropdown menu is displayed on hover for larger screens */
@media (min-width: 992px) {
  .navbar .nav-item.dropdown:hover .dropdown-menu {
    display: block;
  }
}

/*responsive nav*/

/*@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    width: 100%;
  }

  .navbar-nav .nav-link {
    font-size: 18px;
  }

  .navbar-brand.order-1.mr-lg-0 {
    margin-right: 0 !important; 
  }

  .navbar-nav.me-auto > .nav-item:first-child {
    margin-right: 20px; 
  }

  .artists-page-margin {
    margin-left: 40px;
    margin-right: 100px;
  }

  .directions-page-margin {
    margin-left: 100px; 
    margin-right: 100px;
  }

  .contact-page-margin {
    margin-right: 50px;
    margin-left: 100px;
  }
}

.bg-color-cstm {
  background-color: #ece5d5 !important;
}

.btn-background {
  background-color: #3a3635 !important;
  border: 0px #3a3635 !important;
}

.artist-name-bar {
  display: flex;
  align-items: center;
  width: 35%;
  height: 60px;
  background-color: #3a3635;
  color: #ece5d5;
  margin-bottom: 3%;
}

.abt-txt {
  font-family: "Lato", sans-serif !important;
  font-size: 20px;
}

.nav-text {
  color: black !important;
  font-family: "Lato", sans-serif !important;
  font-size: 20px !important;
  margin-right: 180px;
}*/

.para-txt {
  text-align: center;
  font-size: 24px;
  margin: 220px 220px;
  margin-top: 120px;
  margin-bottom: 180px;
}

.para-txt2 {
  text-align: center;
  font-size: 24px;
  margin-top: 100px;
  margin-left: 270px;
  margin-right: 270px;
}

.house-section {
  margin: 60px 60px;
  z-index: 1;
  margin-bottom: 200px;
}

.text-box {
  padding: 70px;
  background-color: #3a3635;
  border-radius: 16px;
  width: 100%;
  height: 70%;
  position: relative;
  left: -40px;
  margin-top: 50px;
  margin-bottom: 100px;
}

/*Artist House Links*/
.linkhouses {
  display: flex;
  justify-content: center; /* Center the items */
  color: #9a8278;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  text-align: center;
  margin-top: 15px;
}

.linkhouses a {
  text-decoration: none;
  color: #9a8278;
  padding: 0 135px; /* Adjust padding to control spacing between links */
}

.house-section2 {
  margin: 60px 60px;
  z-index: 1;
  margin-bottom: 200px;
}

.text-box2 {
  padding: 70px;
  background-color: #3a3635;
  border-radius: 16px;
  width: 100%;
  height: 70%;
  position: relative;
  right: -40px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.ctm-siz {
  width: 300px;
  filter: brightness(0) invert(1);
}

.footer-txt {
  font-size: 20px;
}

.mapContainer {
  position: relative;
  overflow: hidden;
  width: 425px;
  height: 350px;
  /* padding-top: 75%;  */
}

.responsive-iframe {
  position: absolute;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 75%;
  height: 75%;
}

@media screen and (min-width: 425px) {
  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

.custom-input::placeholder {
  color: #ffffff95 !important;
  font-weight: 100;
}

/*-----------------------------------------------------------(ARTIST HOUSES - LANDING PAGE)-----------------------------*/

.heading-section {
  background-color: #e9dbbd; /* Or any color you wish to use for the background */
  display: flex; /* Use flexbox for layout */
  justify-content: center;
  align-items: center; /* Center items vertically */
  padding: 20px; /* Add some padding around the text */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Horizontal offset, vertical offset, blur radius, and color */
}

/*-----------------------------------------------------------(ARTIST HOUSES PAGE)-----------------------------*/
/*.quotes {
  text-align: center;
  margin-top: 80px;
  font-size: 1.5em;
  padding-left: 400px;
  padding-right: 400px;
  font-weight: bold;
}*/

/*-----QUOTE SECTION----*/
.quote-section {
  background-color: #e9dbbd; /* Or any color you wish to use for the background */
  display: flex; /* Use flexbox for layout */
  justify-content: center;
  align-items: center; /* Center items vertically */
  padding: 20px; /* Add some padding around the text */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.quotes {
  margin: 0; /* Remove default margins */
  padding: 0 150px; /* Add some padding on the left and right */
  text-align: left; /* Align quote text to the left */
  color: #333; /* Dark grey color for text */
}

.quotes p {
  font-family: "Petit Formal Script", sans-serif !important;
}

.quotes h1 {
  font-family: "Open Sans", sans-serif; /* Different specific font for the author's name */
  text-align: right; /* Align author's name to the right */
  color: #333; /* Dark grey color for the author's name */
}

/*.responsive-image {
  width: 250px;
  height: auto;
  margin-right: 20px;
  transition: transform 0.3s ease;
}

.responsive-image:hover {
  transform: scale(1.05); 
}*/

/*----WELCOME SECTION- ABOUT ARTIST----*/

.content-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 7em;
}

.image-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 60%;
  gap: 20px; /* This will create space between the image and the text */
}

.houseIntroText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.houseIntroText h1,
p {
  margin-bottom: 20px;
}

.responsive-image {
  width: 250px;
  height: auto;
  margin-right: 100px; /* Adjust this value as needed to create more space */
}

.takeMeThere {
  margin-top: 1.5em;
  text-align: left;
  padding: 8px 16px;
  background-color: #3a3635;
  color: #ece5d5;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Transition for background and shadow */
}

.takeMeThere:hover {
  background-color: #4a4039; /* Slightly lighter shade on hover */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Elevation effect */
}

/*--------------------------ABOUT THE HOUSE_------*/

.subheadings {
  font-size: 2em;

  text-align: center;
  background-color: #bf844b;
  color: #ece5d5;
  padding: 20px;
  width: 100%;
  /*position: fixed; GET BACK HEADINGS!*/
}

.houseIntroText > .takeMeThere {
  align-self: flex-start;
}

.btn-style {
  background-color: rgb(58, 54, 53) !important;
  color: #ece5d5 !important;
  border-radius: 4px !important;
  padding: 20px !important;
}

.marginTop-100px {
  margin-top: 100px;
}

/*------------------------ About the House-----------------------*/
/*#content-wrapper2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#carouselIndicators {
  width: 100%;
  margin-top: 6vw;
}

.carousel-inner img {
  object-fit: cover;
  height: 500px;
}

.carousel-indicators .active {
  background-color: #fff;
  opacity: 1;
}

.houseInfo {
  margin: auto;
  padding: 10px;
}

.houseInfo img {
  width: 100%;
}*/

.container {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto; /* Center the container */
}

#carouselIndicators {
  width: 100%;
  /*margin-top: 6vw;*/
}

.carousel-inner img {
  object-fit: cover;
  height: 500px;
  margin-top: -10px;
}

.carousel-indicators .active {
  background-color: #fff;
  opacity: 1;
}

.text-section {
  /*background-color: #f8f8f8;  A light background for the text */
  padding: 20px;
  border-radius: 4px; /* Optional: adds rounded corners */
  margin-bottom: 30px; /* Space between text and image */
}

.section-heading {
  color: #a07636; /* A gold color for headings */
  margin-bottom: 15px;
}

.parallax-image {
  width: 100%;
  max-height: 400px; /* Adjust as necessary */
  object-fit: cover; /* Ensure the image covers the area without stretching */
  margin-bottom: 30px;
  display: block; /* Remove any extra space below the image */
}

/*--------------HISTORY, TODAY AND FR MORE-------------*/
.history-container {
  display: flex;
  align-items: flex-start; /* Aligns items to the top */
  justify-content: space-between;
  margin: 70px 5%; /* Reduce lateral margins */
  animation: fadeInUp 1.5s ease forwards; /* Added 'forwards' to keep the final state */
}

.history-heading {
  flex-basis: 40%; /* Adjust width as necessary */
  max-width: 40%; /* Ensure that the basis is not exceeded */
}

.history-heading h2 {
  font-weight: 600;
  font-size: 2.5em;
  margin-bottom: 0.5em; /* Adjust as needed */
  color: #bf844b;
}

.history-heading img {
  width: 100%; /* Makes the image take the full width of its container */
  height: auto; /* Keeps the aspect ratio of the image */
  margin-top: 10px;
}

.history-text {
  flex-basis: 55%; /* Adjust width as necessary */
  max-width: 55%; /* Ensure that the basis is not exceeded */
  padding-left: 20px; /* Adds some spacing between the text and the image */
}

.history-text p {
  text-align: justify;
  text-justify: inter-word; /* This helps to improve the spacing between words */
}

.modern-container {
  background-color: #e9dbbd;
  padding: 10px;
}

/* Keyframes and animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp-animation {
  animation-name: fadeInUp;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  /* Add "animation-delay" if you want to delay the start of the animation */
}

/*Greatest work*/

.greatest-works {
  width: 90%;
  padding: 10px;
  margin: 100px auto;

  display: flex;
  flex-wrap: wrap; /* Allow wrapping of items */
  justify-content: space-around; /* Evenly distribute with space around items */
  align-items: center;
}

.section-title {
  width: 100%; /* Full width to break line */
  text-align: center;
  margin-bottom: 30px; /* Space below the section title */
}

.image-grid {
  display: flex;
  flex-wrap: wrap; /* Wrap items */
  justify-content: space-around; /* Distribute with space around */
  align-items: center;
}

.image-grid .grid-item {
  width: 250px; /* Fixed width */
  height: 300px; /* Fixed height */
  margin: 10px; /* Margin around each box */
  transition: transform 1s, z-index 0s, box-shadow 1s; /* Smooth transition for transform and shadow */
  position: relative; /* Needed for z-index to work */
}

.image-grid .grid-item img {
  width: 100%; /* Make image take full width of its container */
  height: 100%; /* Make image take full height of its container */
  object-fit: cover; /* Cover the container completely */
  transition: transform 1s; /* Smooth transition for transform */
}

.image-grid a::after {
  content: attr(data-title);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0); /* Transparent background */
  color: white;
  text-align: center;
  opacity: 0;
  transition: background-color 0.3s ease, opacity 0.3s ease;
  pointer-events: none; /* Ensure the click passes through */
}

.image-grid a:hover::after {
  background-color: rgba(0, 0, 0, 0.7); /* Dark overlay */
  opacity: 1; /* Make title visible */
}

.image-grid .grid-item:hover {
  transform: scale(1.1); /* Enlarge */
  z-index: 2; /* Bring to front */
  box-shadow: 2px 2px 2px #000; /* Add shadow */
}

/* Responsive adjustments */
@media (max-width: 992px) {
  .container {
    width: 95%;
  }
  .text-section,
  .image-section {
    margin-bottom: 20px;
  }
  .parallax-image {
    max-height: 300px;
  }

  .image-grid {
    grid-template-columns: repeat(2, 1fr); /* Two images per row */
    gap: 20px; /* Optionally increase the gap */
    /* Adjust other styles as needed */
  }
}

/* ------------------------Container holding image grid (What else to do around?)--------------------------- */
.image-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-items: center;
}

.grid-item {
  position: relative;
  display: block;
  overflow: hidden;
}

.grid-item img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
}

.grid-item::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  padding: 10px 0;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.grid-item:hover::after {
  opacity: 1;
}

.grid-item:hover img {
  transform: scale(1.05);
}

@media (max-width: 992px) {
  .content-wrapper {
    flex-direction: column; /* Stack the items vertically */
    margin-top: 3em; /* Reduce the top margin */
  }

  .quote-section {
    flex-direction: column; /* Stack quote and author vertically */
    padding: 20px; /* Reduce padding */
  }

  .quotes,
  .quotes h1 {
    padding: 0 20px; /* Reduce padding on the left and right */
    text-align: center; /* Center-align the text for both quote and author */
  }

  /* Optional: Adjust the font size for smaller screens */
  .quotes h1 {
    font-size: smaller; /* Adjust the font size as needed */
  }

  .image-text-container {
    flex-direction: column; /* Stack image and text vertically */
    max-width: 100%; /* Use full width */
    gap: 10px; /* Reduce the gap between image and text */
  }

  .responsive-image {
    width: 20%; /* Full width images */
    margin-right: 0; /* Remove margin to the right of the image */
  }

  .houseIntroText,
  .houseIntroText h1,
  .houseIntroText p {
    align-items: center; /* Center align the flex items */
    text-align: center; /* Center align text */
    margin-bottom: 10px; /* Reduce margin between heading and paragraph */
    text-align: justify;
    text-justify: inter-word;
  }

  .houseIntroText > .takeMeThere {
    align-self: center; /* Center the button */
  }

  .image-grid-container {
    grid-template-columns: repeat(
      auto-fill,
      minmax(250px, 1fr)
    ); /* Responsive grid */
  }

  .carousel-inner img {
    height: auto; /* Adjust height to be auto to maintain aspect ratio */
  }

  .subheadings {
    font-size: 1.5em; /* Reduce font size for smaller screens */
    /*padding: 0px; /* Adjust padding */
  }

  .history-container {
    flex-direction: column;
    text-align: center; /* Center text for smaller screens */
    margin: 20px 2%; /* Reduce lateral margins for smaller screens */
  }

  .history-heading,
  .history-text {
    flex-basis: auto;
    max-width: 96%; /* Account for the reduced lateral margins */
  }

  .history-heading img {
    margin: 20px auto; /* Space above and below the image */
  }

  .history-text {
    padding-top: 0; /* No additional padding above the text */
    padding-left: 0; /* Align text to the edge on smaller screens */
  }
}

/*--------------------------------------------contact page-------------------------------------*/

.footer-txt-margin {
  margin: 40px;
}

.mr-50px {
  margin-right: 50px;
}

.ftr-lnk-sz {
  font-family: "Lato", sans-serif !important;
  font-size: 20px !important;
  color: #f5f5f5 !important;
  text-decoration: none;
}

.row-nobtm {
  padding-bottom: 0px !important;
}

@media (max-width: 767px) {
  .ctm-siz {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .form-elements {
    width: auto !important;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-elements.w-50 {
    width: auto !important; /* Override w-50 class */
  }

  .txt-ele-center {
    text-align: center;
    width: auto !important;
    margin-top: 20px;
  }

  .cstm-margin {
    padding-left: 250px !important;
    margin-top: 60px !important;
  }

  .cstm-mt {
    margin-top: -50px !important;
  }

  .cstm-margin-left {
    margin-left: -130px !important;
  }
}


/* new landing page */

.welcome-txt
{
  font-size: 80px;
  font-weight: 400 !important;
  font-family: "Lato", sans-serif !important;
  color: #383635;
}

.subtext

{
  font-size: 24px;
  font-family: "Lato", sans-serif !important;
  text-align: left;
  color: #383635;
}

.cstm-pad
{
  padding: 200px; 
}

.vertical-line {
  width: 2px; 
  height: 50%; 
  background-color: #383635; 
  vertical-align: middle; 
  margin-top: 110px;
  animation: slideIn 1s ease forwards;
}


@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.welcome-txt {
  animation: slideInLeft 1s ease forwards;
}

.subtext {
  animation: slideInRight 1s ease forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@media screen and (max-width: 1020px) {
  .vertical-line {
    display: none;
  }
}

.cstm-section
{
  background-color: #3a3635;
  padding: 50px;
}

.cstm-txt1
{
  font-size: 32px;
  font-family: "Lato", sans-serif !important;
  color: #ECE5D5;
  font-weight: 300 !important;
  margin: auto;
}


.cstm-txt2
{
  font-size: 52px;
  font-family: "Lato", sans-serif !important;
  color: #ECE5D5;
  font-weight: 300 !important;
  margin: auto !important;
}

.cstm-margin-100px
{
  margin-top: 150px;
}

.slider-txt
{
  font-size: 40px;

}

.cstm-icon-color
{
  color: #8c4c03 !important;
  font-size: 30px;
}

.cstm-bg-land
{
    background-color: #E9DBBD;  
}
  
.cstm-pad-100
{
  padding-top: 100px;
}

.cstm-bg-btn
{
  background-color: #ECE5D5 !important;
  font-family: "Lato", sans-serif !important;
}

.land-sec-p
{
  padding: 100px;
  font-size: 24px;
  margin-bottom: 0px !important;
}

.cstm-top-70px
{
  padding-top: 70px;
}

.cstm-bg-brwn
{
  background-color: #3a3635 !important;
  color: white !important;
}

.txt-white
{
  color: rgb(212, 207, 207) !important;
  font-weight: 300 !important;
}

.cstm-pad-rt
{
  padding-right: 70px;
}

.cstm-pad-top
{
  padding-top: 140px;
}


@media (max-width: 758px) {
  .cstm-center {
      text-align: center;
  }
}

@media (max-width: 758px) {
  .cstm-pad-right {
      padding-right: 0px;
  }
}