@import url("https://fonts.cdnfonts.com/css/lato");

body {
  background-color: #ece5d5 !important;
  font-family: "Lato", sans-serif !important;
}

.navbar {
  font-family: "Lato", sans-serif !important;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .navbar-brand.order-1.mr-lg-0 {
    margin-right: 0 !important; /* Use !important to ensure it overrides other margin values */
  }
}

@media (min-width: 992px) {
  /* Adjust the breakpoint as needed */
  .navbar-nav.me-auto > .nav-item:first-child {
    margin-right: 20px; /* Adjust the margin value as needed */
  }
}

.bg-color-cstm {
  background-color: #ece5d5 !important;
}

nav {
  margin-top: 50px;
}
.abt-txt {
  font-family: "Lato", sans-serif !important;
  font-size: 20px;
}

.nav-text {
  color: black !important;
  font-family: "Lato", sans-serif !important;
  font-size: 20px !important;
  margin-right: 180px;
}

.para-txt {
  text-align: center;
  font-size: 24px;
  margin: 220px 220px;
  margin-top: 180px;
  margin-bottom: 180px;
}

.para-txt2 {
  text-align: center;
  font-size: 24px;
  margin-top: 100px;
  margin-left: 270px;
  margin-right: 270px;
}

.house-section {
  margin: 60px 60px;
  z-index: 1;
  margin-bottom: 200px;
}

.text-box {
  padding: 70px;
  background-color: #3a3635;
  border-radius: 16px;
  width: 100%;
  height: 70%;
  position: relative;
  left: -40px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.house-section2 {
  margin: 60px 60px;
  z-index: 1;
  margin-bottom: 200px;
}

.text-box2 {
  padding: 70px;
  background-color: #3a3635;
  border-radius: 16px;
  width: 100%;
  height: 70%;
  position: relative;
  right: -40px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.ctm-siz {
  width: 300px;
  filter: brightness(0) invert(1);
}

.footer-txt {
  font-size: 20px;
}

.custom-input::placeholder {
  color: #ffffff95 !important;
  font-weight: 100;
}

/*--------------------(ARTIST HOUSES PAGE)-----------------------------*/
.quotes {
  text-align: center;
  margin-top: 80px;
  font-size: 1.5em;
  padding-left: 400px;
  padding-right: 400px;
  font-weight: bold;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 7em;
}

.image-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  max-width: 60%;
}

.houseIntroText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.houseIntroText h1,
p {
  margin-bottom: 20px;
}

.responsive-image {
  width: 250px;
  height: auto;
  margin-right: 60px;
}

.takeMeThere {
  margin-top: 1.5em;
  text-align: left;
  padding: 8px 16px;
  background-color: #3a3635;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}

.houseIntroText > .takeMeThere {
  align-self: flex-start;
}

.btn-style {
  background-color: #3a3635 !important;
  color: #ece5d5 !important;
  border-radius: 4px !important;
}

.marginTop-100px {
  margin-top: 100px;
}

/*------------------------ About the House-----------------------*/
#content-wrapper2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.subheadings {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

#carouselIndicators {
  width: 100%;

  margin-top: 6vw;
}

.carousel-inner img {
  object-fit: cover;
  height: 500px;
}

.carousel-indicators li {
  background-color: #999;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  display: block;
  opacity: 0.5;
}

.carousel-indicators .active {
  background-color: #fff;
  opacity: 1;
}

.houseInfo {
  margin: auto;
  width: 80%;
  padding: 20px;
}

.houseInfo img {
  padding: auto;
  width: 100%;
}

/* ------------------------Container holding image grid--------------------------- */
.image-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* creates 5 columns */
  gap: 10px; /* space between images */
}

/* Individual items in the grid */
.grid-item {
  display: block;
  overflow: hidden;
}

/* Styles for the images to make them responsive */
.grid-item img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
}

/* Optional: a little zoom effect on hover */
.grid-item:hover img {
  transform: scale(1.05);
}

/*--------------------------------------------Testimonials-------------------------------------*/

.containerTestimonial {
  background-color: #c5ad8c;
  text-align: center;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.card {
  border: none;
}
.profile img {
  width: 68px;
  height: 68px;
  border-radius: 50%;
}
.second {
  border-left: 2px dotted lightgrey;
  border-right: 2px dotted lightgrey;
}
@media only screen and (max-width: 600px) {
  .second {
    border: none;
    border-top: 2px dotted lightgrey;
    margin-top: 25px;
  }
  .third {
    border-top: 2px dotted lightgrey;
    margin-top: 25px;
  }
  .icon {
    margin-top: 20px;
    top: 0;
  }
}

.intro {
  font-size: 11px;
  margin-left: 13px;
  position: relative;
  bottom: 8px;
}
.row {
  padding-bottom: 53px;
}
.company {
  position: absolute;
  bottom: -42px;
}
.fa-amazon:before {
  content: "\f270";
  font-size: 23px;
}
.icon {
  margin-bottom: 15px;
  position: relative;
  bottom: 20px;
}
.header {
  padding-top: 35px;
  padding-bottom: 50px;
}
